extends layout-admin

block content 
  .content-wrapper
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          h4 Categories
      .card.mb-3
        .card-header
          i.fa.fa-table
          |  Data List Categories
        .card-body
          |
          - if(error){
          div
            | !{error}
          - }
          |
          - if(info){
          div
            | !{info}
          - }
          |
          - if(success){
          div
            | !{success}
          - }
          form.form-inline(method='GET', style='overflow-x:auto;')
            .form-group.col-md-3.col-lg-3
              input#pwd.form-control(type='text', placeholder='Keyword', name='search', style='width:100%')
            .form-group.col-md-3.col-lg-3
              button.btn.btn-success.form-control(type='submit')
                span.fa.fa-filter
                |  Filter
          .table-responsive.mt-4.pl-0
            table#dataTable3.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr.bg-2.text-white
                  th(scope='col') Name
                  th(scope='col') Num. of Business
                  th.text-center(scope='col') Action
              tbody
                for categories in data
                  tr
                    th(scope='row')= categories.name
                    td= categories.name
                    td.text-center
                      .dropdown
                        button.btn.bg-5.dropdown-toggle.btn-sm.border(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          | Action
                        .dropdown-menu.dropdown-menu-right
                          button.dropdown-item(onclick='viewCategory('+categories.id+',"'+categories.name+'","'+categories.description+'")')
                            i.fa.fa-user
                            |  View
                          .dropdown-divider
                          a.dropdown-item(href='/admin/edit-category='+categories.id method='get')
                            i.fa.fa-pencil
                            |  Edit
                          .dropdown-divider
                          button.dropdown-item(onclick='delCategory('+categories.id+')')
                            i.fa.fa-trash
                            |  Delete
        .card-footer.small.text-muted Updated yesterday at 11:59 PM
      a.float(href='/admin/create-category')
        i.fa.fa-plus.fa-2x.my-float
      .label-container
        .label-text Add Categories
        i.fa.fa-play.label-arrow
    a.scroll-to-top.rounded(href='#page-top')
      i.fa.fa-angle-up
    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#deleteModalLabel.modal-title Are you sure to delete ?
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body Select "Delete" below if you are ready to delete it.
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
            button.btn.btn-primary(onclick='deleteCategory()') Delete
    #viewModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#deleteModalLabel.modal-title View selected category
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            label(for='name') Name : 
            h6#name_category 
            label(for='name') Description : 
            h6#desc_category
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel

    script(type='text/javascript').
      function delCategory(e) {
        window.idCategory = e;
        $("#deleteModal").modal('show');
      }

      function viewCategory(a,b,c) {
        window.idCategory = a;
        window.nameCategory = b;
        window.descriptionCategory = c;
        $("#viewModal").modal('show');
        document.getElementById("name_category").innerHTML = b;
        document.getElementById("desc_category").innerHTML = c;
      }

      function deleteCategory(){
        var id = window.idCategory;
        console.log(idCategory);
        $.ajax({
          url:'/admin/delete-category='+id,
          type:'POST',
          success : function (respon) {
            if(respon === true) {
              setTimeout(function() {$("#deleteModal").modal('hide');}, 1000);
              alert('Success delete new category')
              location.reload();
            } else {
              setTimeout(function() {$("#deleteModal").modal('hide');}, 100);
              alert('Failed to remove categoryr')
            }
          
          }
        })
      }


