extends layout

block content
  body
    header.business-header
      div#map
        .row
          .col-lg-12
    header.search
      .ml-auto
        .row
          .col-md-12
            form.container.ml-auto.form-inline.mt-4.pb-4
              .from-group.col-md-3
                select.option-index.border.bg-white.mb-2.form-control(name='city', style='width: 100%;')
                  option(value='') Select City...
                  each cit in city
                    option(value=cit.id) !{cit.administrative_area_3}
                  //- option(value='semarang') Semarang
                  //- option(value='jakarta') Jakarta
                  //- option(value='bandung') Bandung
                  //- option(value='surabaya') Surabaya
                  //- option(value='kudus') Kudus
              .from-group.col-md-3
                select.option-index.border.bg-white.mb-2.form-control(name='category', style='width: 100%;')
                  option(value='') Select Line of Bussines
                  each cate in cat
                    option(value=cate.id) !{cate.name}
              .from-group.col-md-3
                input.form-control.input-index.border.rounded.mb-2(type='text', placeholder='keyword', name='keyword', style='width: 100%;')
              .from-group.col-md-3
                button.btn-secondary.mb-2.form-control.input-index(type='button', onclick='search_list.html')
                  | Search
      // Page Content
      .container-fluid.d-flex.align-items-center(style='background-color: white')
        .pop.container(style='text-align: center')
          div
            p(style='line-height: 50px')
              | Popularity Search : 
              input.hvr(type='button', value='tas backpack')
              input.hvr(type='button', value='tanaman hias')
              input.hvr(type='button', value='pintu kaca')
              input.hvr(type='button', value='kitchen set')
              input.hvr(type='button', value='laptop murah')
              input.hvr(type='button', value='rak dapur')
              input.hvr(type='button', value='meja kantor')
              input.hvr(type='button', value='toko bangunan')
              input.hvr(type='button', value='sepeda gunung')
              input.hvr(type='button', value='selimut')
              input.hvr(type='button', value='smartphone')
              input.hvr(type='button', value='jam tangan')
              input.hvr(type='button', value='lemari')
              input.hvr(type='button', value='rak dapur')
              input.hvr(type='button', value='meja kantor')
              input.hvr(type='button', value='tas backpack')
              input.hvr(type='button', value='tanaman hias')
              input.hvr(type='button', value='pintu kaca')
              input.hvr(type='button', value='kitchen set')
              input.hvr(type='button', value='laptop murah')
              input.hvr(type='button', value='rak dapur')
              input.hvr(type='button', value='meja kantor')
              input.hvr(type='button', value='toko bangunan')
              input.hvr(type='button', value='sepeda gunung')
              input.hvr(type='button', value='selimut')
              input.hvr(type='button', value='smartphone')
              input.hvr(type='button', value='jam tangan')
              input.hvr(type='button', value='lemari')
              input.hvr(type='button', value='rak dapur')
              input.hvr(type='button', value='meja kantor')
              input.hvr(type='button', value='tas backpack')
              input.hvr(type='button', value='tanaman hias')
              input.hvr(type='button', value='pintu kaca')
              input.hvr(type='button', value='kitchen set')
              input.hvr(type='button', value='laptop murah')
              input.hvr(type='button', value='rak dapur')
              input.hvr(type='button', value='meja kantor')
              input.hvr(type='button', value='toko bangunan')
              input.hvr(type='button', value='sepeda gunung')
              input.hvr(type='button', value='selimut')
              input.hvr(type='button', value='smartphone')
              input.hvr(type='button', value='jam tangan')
              input.hvr(type='button', value='lemari')

      // /.container
      // Footer
      footer.footer.py-2.bg-1
        .row
          .col-sm(style='color: white')
            .container(style='font-size:12px')
              span Copyright @ 2018 - Wonderlabs Academy
              br
              span All Right Reserved
          .col-sm.block
            .container.block
              .float-right(style='font-size:12px')
                a.block.mr-8.ml-4.text-light(href='#') Term of Use
                a.block.mr-8.ml-4.text-light(href='#') Privacy Policy
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBsascAYsGfhejF7XQmquGdLKlEAbfaL9o&libraries=places&callback=initMap', async='', defer='')
    script.
      function initMap() {

        var locations = !{data}

        console.log(locations)

        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -7.7842584, lng: 110.3875498},
          zoom: 15
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        var marker, i;

        var icon = {
            url: "http://www.clker.com/cliparts/U/Q/d/9/V/E/orange-pin-md.png", // url
            scaledSize: new google.maps.Size(35, 58), // scaled size
            origin: new google.maps.Point(0,0), // origin
            anchor: new google.maps.Point(0, 0) // anchor
        };

        for (i = 0; i < locations.length; i++) {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map,
            icon: icon,
            url: locations[i][4],
            title: 'Outlet : '+locations[i][0],
          });

          google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
              infoWindow.setContent(locations[i][0]);
              window.location.href = this.url;
            }
          })(marker, i));

        }

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            console.log(pos)
            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
        }  
      }
