doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')
    // Custom fonts for this template
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.12/css/all.css', integrity='sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')  
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')  
    // <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i', rel='stylesheet')
    // Custom styles for this template
    link(href='../stylesheets/resume.css', rel='stylesheet')
    link(href='../stylesheets/temp.css', rel='stylesheet')
    // Bootstrap core JavaScript
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js.map')
  body#page-top(style='background-color: white')

    nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-bottom.position-fixed.d-none.d-lg-block
      a.navbar-brand.js-scroll-trigger.d-flex.justify-content-center.pt-4.mt-4.mb-5.rounded(href='#page-top')
        span
          img.img-profile.rounded-circle.mb-2.d-flex.align-content-center(src='../photo-storage/'+data.business.image , alt='')
          p=data.business.name
      .collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.btne.btn-secondary.nav-link.js-scroll-trigger(href='#info') Info
          li.nav-item
            a.btne.btn-secondary.nav-link.js-scroll-trigger(href='#direction') Get direction
          li.nav-item
            a.btne.btn-secondary.nav-link.js-scroll-trigger(href='#reviews') reviews
          li.nav-item
            a.btne.btn-secondary.nav-link.js-scroll-trigger(href='#other') other outlet
    nav#topNav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-1
      .container-fluid
        a(href='/')
          img(rel='icon', src='../images/logo8.png', height='35px')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='/')
                | Home
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/browse') Browse Directory
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='/regist') Register
    .container-fluid.p-0
      div.d-block.d-lg-none.bg-dark
        .container.pt-4.pb-4(style='text-align: center;')
          span
            img.img-profile.rounded-circle.mb-2(src='../photo-storage/'+data.business.image , alt='', height='150px', widht='150px')
            p.h5.mt-3(style='color: white;')=data.business.name
      section#info.resume-section.p-3.p-lg-5.d-flex.d-column
        .mx-auto
          h2.mb-0
            = data.business.name
            p.text-primary=data.name
          .subheading.mb-5
            =data.address.line1 
            | , 
            =data.address.line2
            | , 
            =data.address.administrative_area_1 
            | , 
            =data.address.postalcode
            | , 
            =data.contact_no
            | ,  
            a(href='https://wonderlabs.io')=data.website
          p.mb-3
            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            =data.description
          div.mb-2
            .row.font-weight-bold
              .col-2
                | Now 
                =today.crnt
              .col-4
                | :       
                =today.op
          div#todayss.mb-2
            .row
              .col-2
                | Open Hours
              .col-1
                  i.fas.fa-caret-down
          div#dayss.mb-2
            for days in day
              .row.mb-2
                .col-1(class=days.clss)
                  =days.day
                .col-4(class=days.clss)
                  | :       
                  =days.op

          //- ul.list-inline.list-social-icons.mb-0
          //-   li.list-inline-item
          //-     a(href='#')
          //-       span.fa-stack.fa-lg
          //-         i.fa.fa-circle.fa-stack-2x
          //-         i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
          //-   li.list-inline-item
          //-     a(href='#')
          //-       span.fa-stack.fa-lg
          //-         i.fa.fa-circle.fa-stack-2x
          //-         i.fab.fa-twitter.fa-stack-1x.fa-inverse
          //-   li.list-inline-item
          //-     a(href='#')
          //-       span.fa-stack.fa-lg
          //-         i.fa.fa-circle.fa-stack-2x
          //-         i.fab.fa-linkedin-in.fa-stack-1x.fa-inverse
          //-   li.list-inline-item
          //-     a(href='#')
          //-       span.fa-stack.fa-lg
          //-         i.fa.fa-circle.fa-stack-2x
          //-         i.fab.fa-github.fa-stack-1x.fa-inverse
      section#direction.resume-section.p-3.p-lg-5.d-flex.flex-column
        .my-auto
          h2.mb-2 Get direction
          .resume-content.mr-auto
            header.business-header
              #map
            .mt-4.mb-4
              button#getdir.btn.btn-primary.mb-2.mr-2(type='button' onclick='getdir()') Get Direction
              button#similar.btn.btn-primary.mb-2(type='button') Find Similar Bussines
      section#reviews.resume-section.p-3.p-lg-5.d-flex.flex-column
        .my-auto
          h2.mb-5 Reviews
          .resume-item.d-flex.flex-column.flex-md-row.mb-5
            .resume-content.mr-auto
              .mt-2
                for reviews in review
                  .pt-2.pb-2.mb-2
                    .divider.mb-2
                    h5=reviews.rev.name
                    p(style='font-size: 12px; color:#808080')
                      =reviews.date
                      |  
                      a(onclick='report('+reviews.rev.id+')')
                        |  
                        i.fas.fa-flag(data-toggle="tooltip" data-placement="right" title="Cick to report review")
                        |   
                      a(href='/outletinfo='+reviews.rev.outlet.id)=reviews.rev.outlet.name
                    
                    p
                      =reviews.rev.content

                    script(src='https://use.fontawesome.com/f4e64b7c17.js')
                    .star-rating
                      .back-stars
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                      .front-stars(style='width:'+reviews.rev.rating+'%')
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')

                  #exampleModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          h5#exampleModalLabel.modal-title Report review
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                          .form-group
                            input#idreview(type='text',name='idreview' hidden)
                            label(for='exampleInputEmail1') Email address
                            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
                            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                          .form-group
                            label choose a reason for reporting this review
                            .radio.p-1
                              input(type='radio', name='reasonReport', value='SPAM')
                              |  it's spam
                            .radio.p-1
                              input(type='radio', name='reasonReport', value='INAPPROPRIATE')
                              |  it’s inappropriate
                          .modal-footer
                            button.btn.btn-primary(type='button', data-dismiss='modal') Close
                            button.btn.btn-primary(onclick ='reportRev()') Send Report



                p
                  a(href='/reviews='+data.id) More Reviews>
                // Button trigger modal
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
                  | WRITE REVIEWS
                // Modal
                #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                  .modal-dialog(role='document')
                    .modal-content(class='box-shadow: 10px 10px 5px grey;')
                      .modal-header
                        h5#exampleModalLabel.modal-title Write Reviews
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') ×
                      .modal-body
                        form#addreview(action='/addreview='+data.id, method='POST')
                          .form-group
                            label Name
                            input.form-control(type='text', placeholder='Enter name', name='name')
                          .form-group
                            label(for='exampleInputEmail1') Email address
                            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email' , name='email')
                            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                          .form-group
                            label Review
                            textarea.form-control(placeholder='Write Review Here', name='content')
                          .form-group.mb-4
                            label Rating
                            br
                            fieldset.rating.mb-4
                              input#star5(type='radio', name='rating', value='5')
                              label.full(for='star5', title='Awesome - 5 stars')
                              input#star4half(type='radio', name='rating', value='4.5')
                              label.half(for='star4half', title='Pretty good - 4.5 stars')
                              input#star4(type='radio', name='rating', value='4')
                              label.full(for='star4', title='Pretty good - 4 stars')
                              input#star3half(type='radio', name='rating', value='3.5')
                              label.half(for='star3half', title='Meh - 3.5 stars')
                              input#star3(type='radio', name='rating', value='3')
                              label.full(for='star3', title='Meh - 3 stars')
                              input#star2half(type='radio', name='rating', value='2.5')
                              label.half(for='star2half', title='Kinda bad - 2.5 stars')
                              input#star2(type='radio', name='rating', value='2')
                              label.full(for='star2', title='Kinda bad - 2 stars')
                              input#star1half(type='radio', name='rating', value='1.5')
                              label.half(for='star1half', title='Meh - 1.5 stars')
                              input#star1(type='radio', name='rating', value='1')
                              label.full(for='star1', title='Sucks big time - 1 star')
                              input#starhalf(type='radio', name='rating', value='0.5')
                              label.half(for='starhalf', title='Sucks big time - 0.5 stars')
                          br
                          .modal-footer
                            button.btn.btn-primary(type='button', data-dismiss='modal') Close
                            button.btn.btn-primary(type='submit') Send Review
      section#other.resume-section.p-3.p-lg-5.d-flex.flex-column
        .my-auto
          h2.mb-3 Other Outlet
          .divider.mb-2
          .mt-2
            table.table.table-striped(style='width:100%')
              tr.mt-2
                th
                  | Name
                th
                  | City
                th
              for d in other
                tr.mt-2
                  td=d.name
                  td=d.address.administrative_area_3
                  td
                    a(href='/outletinfo='+d.id) View Outlet
    // Custom scripts for this template
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='../javascripts/resume.js')
    script.
      function initMap() {
        var icon = {
            url: "http://www.clker.com/cliparts/U/Q/d/9/V/E/orange-pin-md.png", // url
            scaledSize: new google.maps.Size(35, 58), // scaled size
            origin: new google.maps.Point(0,0), // origin
            anchor: new google.maps.Point(0, 0) // anchor
        };
        var locations = !{data2}
        var pointA = new google.maps.LatLng(locations[1], locations[2]),
              myOptions = {
                  zoom: 15,
                  center: pointA
              },
              map = new google.maps.Map(document.getElementById('map'), myOptions),
              // Instantiate a directions service.
              directionsService = new google.maps.DirectionsService,
              directionsDisplay = new google.maps.DirectionsRenderer({
                  map: map
              }),
              markerA = new google.maps.Marker({
                  position: pointA,
                  title: locations[0],
                  map: map
              })

        document.getElementById('similar').onclick = function(){
          var locations = !{data3}

          console.log(locations)

          var map = new google.maps.Map(document.getElementById('map'), {
            center: pointA,
            zoom: 13
          });
          var infoWindow = new google.maps.InfoWindow({map: map});

          var marker, i;

          var icon = {
              url: "http://www.clker.com/cliparts/U/Q/d/9/V/E/orange-pin-md.png", // url
              scaledSize: new google.maps.Size(35, 58), // scaled size
              origin: new google.maps.Point(0,0), // origin
              anchor: new google.maps.Point(0, 0) // anchor
          };

          for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(locations[i][1], locations[i][2]),
              map: map,
              icon: icon,
              url: locations[i][4],
              title: 'Outlet : '+locations[i][0],
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
              return function () {
                infoWindow.setContent(locations[i][0]);
                window.location.href = this.url;
              }
            })(marker, i));

          }
        }
      }
      initMap();
      function getdir() {
        var locations = !{data2}
        var pointA = new google.maps.LatLng(locations[1], locations[2]),
            myOptions = {
                zoom: 15,
                center: pointA
            },
            map = new google.maps.Map(document.getElementById('map'), myOptions),
              directionsService = new google.maps.DirectionsService,
            directionsDisplay = new google.maps.DirectionsRenderer({
                map: map
            })
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pointB = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);
            function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
                directionsService.route({
                    origin: pointA,
                    destination: pointB,
                    avoidTolls: true,
                    avoidHighways: false,
                    travelMode: google.maps.TravelMode.DRIVING
                }, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    } else {
                        alert('Directions request failed due to ' + status);
                    }
                });
            }
          })
        } else {
          window.alert('Please')
        }
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBsascAYsGfhejF7XQmquGdLKlEAbfaL9o&libraries=places&callback=initMap', async='', defer='')
    script(type='text/javascript').
      $(document).ready(function(){
        $("#dayss").hide()
        $("#todayss").click(function(){
            $("#dayss").toggle();
            //- $("#todayss").hide()
        });
      })
      function report(e) {
        console.log(e);
        window.idReview = e;
        $("#exampleModal2").modal('show');
        $("#idreview").val(e);
      }

      function reportRev(){
        var idreview = $('#idreview').val();
        var email =  $('#exampleInputEmail1').val();
        var reasonReport = $("input[name='reasonReport']:checked").val();
        $.ajax({
          url:'/report',
          type:'POST',
          data: {
            idreview: $('#idreview').val(),
            email:  $('#exampleInputEmail1').val(),
            reasonReport: $("input[name=reasonReport]:checked").val()
          },
          success : function (respon) {
            if(respon === '1') {
              alert('INVALID EMAIL')
            }

            if(respon === '2') {
              alert('Choose a reason')
            }

            if(respon === '3') {
              alert('Email already report this review')
            }           

            if(respon === '4') {
              alert('Success report this review')
              setTimeout(function() {$("#exampleModal2").modal('hide');}, 1000);
              location.reload();
            }  
          }
        })
      }

      $('#addreview').submit(function() { // catch the form's submit event
          $.ajax({ // create an AJAX call...
              data: $(this).serialize(), // get the form data
              type: $(this).attr('method'), // GET or POST
              url: $(this).attr('action'), // the file to call
              success: function(response) { // on success..
                  if(response === '1') {
                    alert('INVALID EMAIL')
                  }

                  if(response === '3') {
                    alert('Email has been used to review this outlet')
                  }

                  if(response === '2') {
                    alert('we have sent an email to confirm your review. please check your email so your review can be displayed')
                    setTimeout(function() {$("#exampleModal2").modal('hide');}, 1000);
                    location.reload();
                  }
              }
          });
          return false; // cancel original event to prevent form submitting
      });