extends layout

block content
  .content-wrapper
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          h4 Create Business
      |
      - if(error){
      .alert.alert-danger 
       .text-center #{error}
      - }
      |
      - if(info){
      .alert.alert-info 
        .text-center #{info}
      - }
      |
      - if(success){
      .alert.alert-success 
        .text-center #{success}
      - }
      div
        form.mt-4(action='/business-owner/create-business' method='POST')
          .form-row.col-md-12
            .col-md-6
              .form-group
                label(for='line') Line of Business:
                select.custom-select(name='get_category')
                  option(value='' selected) Line of Business
                  each value in valCategories
                    option(value=value.id) #{value.name}
              .form-group
                label(for='name') Name of Business:
                input#pwd.form-control(type='text', placeholder='Name', name='name_business')
              .form-group
                label(for='email') Email:
                input#pwd.form-control(type='text', placeholder='somthing@something.com', name='email')
              .form-group
                label(for='website') Website:
                input#website.form-control(type='text', placeholder='http://www.something.com', name='website')
              .form-group
                label(for='website') Contact Number:
                input#website.form-control(type='text', placeholder='0812xxxxxx', name='contact_no')
              .form-group
                label(for='description') Description:
                textarea.form-control(name='description', id='', cols='30', rows='5')  Description about is 
            .col-md-6.pl-3
              .form-group(style="align:center")
                img.img-responsive.rounded.mx-auto.d-block.mb-4.mt-3.border(src='https://indrawatidaud.files.wordpress.com/2016/12/kotak-tisu-doraemon.jpg', alt='User', width='160', height='auto')
                .custom-file
                  input.custom-file-input.border.rounded(type='file', width='4em')
                  label.custom-file-label Choose file..
          label.ml-3(for='address') Address :
          .form-group.col-md-10.border.ml-3.pt-2.mr-3
            .form-row
              .form-group.col
                label(for='line1') Line 1
                input#inputEmail4.form-control(type='text', placeholder='Line 1 address' name='line1')
              .form-group.col
                label(for='line2') Line 2
                input#inputPassword4.form-control(type='text', placeholder='Line 2 address' name='line2')
            .form-row
              .form-group.col-md-6
                label(for='line1') State
                select.custom-select(name='state')
                  option(value='state') State
                  option(value='name') Name
                  option(value='address') Address
              .form-group.col-md-6
                label(for='line2') Province
                select.custom-select(name='province')
                  option(value='province') Province
                  option(value='name') Name
                  option(value='address') Address
            .form-row
              .form-group.col-md-6
                label(for='line2') City
                select.custom-select(name='city')
                  option(value='city') City
                  option(value='name') Name
                  option(value='address') Address
              .form-group.col-md-6
                label(for='zipcode') Postal code
                input#inputPassword4.form-control(type='text', placeholder='Postal Code' name='postal_code')
            .form-row
              .form-group.col-md-3
                button.btn.btn-secondary.btn-block(type='submit') Geolocate
            .form-row
              .form-group.col-md-3
                label(for='zipcode') Latitude
                input#inputPassword4.form-control(type='text', placeholder='Latitude',name='lat')
              .form-group.col-md-3
                label(for='zipcode') Longitude
                input#inputPassword4.form-control(type='text', placeholder='Longitude',name='lng')
            .form-row
              .form-group.col-md-3
                a(href='')  View in maps >
          .form-row
            .form-group.col-md-2.ml-3
              button.btn.btn-primary.btn-block(type='submit') Submit
            .form-group.col-md-4
              button.btn.btn-primary.btn-block(type='submit') Submit and Add Outlets
    a.scroll-to-top.rounded(href='#page-top')
      i.fa.fa-angle-up

