extends layout

block content
  .content-wrapper
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          h4 Create Outlet
      |
      - if(error){
      .alert.alert-danger 
       .text-center #{error}
      - }
      |
      - if(info){
      .alert.alert-info 
        .text-center #{info}
      - }
      |
      - if(success){
      .alert.alert-success 
        .text-center #{success}
      - }
      div
        form.mt-4(action='/business-owner/create-outlet' method='POST')
          .form-group.col-md-6
            label(for='line') Business:
            select#get_business.form-control.selectpicker(name='get_business')
              each buss in valBusiness
                    option(value=buss.id) #{buss.name}
          .form-group.col-md-6
            label(for='name') Name of Outlet:
            input#name.form-control(type='text', placeholder='Name', name='name')
          .form-group.col-md-6
            label(for='email') Email:
            input#email.form-control(type='text', placeholder='somthing@something.com', name='email')
          .form-group.col-md-6
            label(for='website') Website:
            input#website.form-control(type='text', placeholder='http://www.something.com', name='website')
          .form-group.col-md-9
            label(for='description') Description:
            textarea.form-control(name='', id='', cols='30', rows='5')  Description about is 
          label.ml-3(for='description') Address :
          .form-group.col-md-11.border.ml-3.pt-2.mr-3
            .form-row
              .form-group.col-md-6
                label(for='state') State
                select#state.custom-select(name='state', value=state)
                  each value in valState
                    option(value=value.code) #{value.name}
              .form-group.col-md-6
                label(for='line2') Region
                select#region.custom-select(name='region', value=region)
                  option(value='0') - select -
              .form-group.col-md-6
                label(for='line2') City
                select#city.custom-select(name='city', value=city)
                  option(value='0') - select -
              .form-group.col-md-6
                label(for='zipcode') Postal code
                input#postal_code.form-control(type='text', placeholder='Postal Code' name='postal_code', value=postal_code)
            .form-row
              .form-group.col
                label(for='line1') Line 1
                input#line1.form-control(type='text', placeholder='Line 1 address' name='line1', value=line1)
              .form-group.col
                label(for='line2') Line 2
                input#line2.form-control(type='text', placeholder='Line 2 address' name='line2', value=line2)
            .form-row
              .form-group.col-md-3
                a#geolocate.btn.btn-secondary.btn-block.disabled(type='button') Geolocate
                //- button.btn.btn-secondary.btn-block 
            .form-row
              .form-group.col-md-3
                label(for='zipcode') Latitude
                input#lat.form-control(type='text', placeholder='Latitude',name='lat', value=lat readonly)
              .form-group.col-md-3
                label(for='zipcode') Longitude
                input#lng.form-control(type='text', placeholder='Longitude',name='lng', value=lng readonly)
            .form-row
              .form-group.col-md-3
                a(data-toggle='modal', data-target='#mapsModal' pointer="cursor")  View in maps >
          label.ml-3(for='description') Open Hours :
          .form-group.col-md-9.border.ml-3.pt-2
            .form-row
              .form-group.col
                h6 Monday
              .form-group.col
                .form-check
                  input#gridCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='gridCheck1')
                    | Closed
              .form-group.col
                input(type='time' value='08:00' style='width: 100%')
              .form-group.col
                input(type='time' value='18:00' style='width: 100%')
            .form-row
              .form-group.col
                h6 Tuesday
              .form-group.col
                .form-check
                  input#gridCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='gridCheck1')
                    | Closed
              .form-group.col
                input(type='time' value='08:00' style='width: 100%')
              .form-group.col
                input(type='time' value='18:00' style='width: 100%')
            .form-row
              .form-group.col
                h6 Wednesday
              .form-group.col
                .form-check
                  input#gridCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='gridCheck1')
                    | Closed
              .form-group.col
                input(type='time' value='08:00' style='width: 100%')
              .form-group.col
                input(type='time' value='18:00' style='width: 100%')
            .form-row
              .form-group.col
                h6 Thursday
              .form-group.col
                .form-check
                  input#gridCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='gridCheck1')
                    | Closed
              .form-group.col
                input(type='time' value='08:00' style='width: 100%')
              .form-group.col
                input(type='time' value='18:00' style='width: 100%')
            .form-row
              .form-group.col
                h6 Friday
              .form-group.col
                .form-check
                  input#gridCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='gridCheck1')
                    | Closed
              .form-group.col
                input(type='time' value='08:00' style='width: 100%')
              .form-group.col
                input(type='time' value='18:00' style='width: 100%')
            .form-row
              .form-group.col
                h6 Saturday
              .form-group.col
                .form-check
                  input#gridCheck1.form-check-input(type='checkbox', checked='')
                  label.form-check-label(for='gridCheck1')
                    | Closed
              .form-group.col
                input(type='time' value='08:00' style='width: 100%' disabled)
              .form-group.col
                input(type='time' value='18:00' style='width: 100%' disabled)
            .form-row
              .form-group.col
                h6 Sunday
              .form-group.col
                .form-check
                  input#gridCheck1.form-check-input(type='checkbox', checked='')
                  label.form-check-label(for='gridCheck')
                    | Closed
              .form-group.col
                input(type='time' value='08:00' style='width: 100%' disabled)
              .form-group.col
                input(type='time' value='18:00' style='width: 100%' disabled)
            .form-group
              .form-check
                input#gridCheck.form-check-input(type='checkbox', checked='')
                label.form-check-label(for='gridCheck')
                  | Set as closed on public holiday
          .form-row
            .form-group.col-md-2.ml-3
              button.btn.btn-primary.btn-block(type='submit') Submit
            .form-group.col-md-4
              button.btn.btn-primary.btn-block(type='submit') Submit and Add Outlets
    a.scroll-to-top.rounded(href='#page-top')
      i.fa.fa-angle-up
    #mapsModal.modal.modal-wide.fade(tabindex='-1', role='dialog', aria-labelledby='deleteModalLabel', aria-hidden='true' )
      .modal-dialog
        .modal-content
          .modal-header
            h5#deleteModalLabel.modal-title Search address by maps 
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body 
            form
              .form-row
                .form-group.col-md-12
                  input#pac-input.form-control(type='text', placeholder='Enter a location' style='min-width:470px', value=pac_input)
              .form-row
                .form-group.col-md-12
                  #map(style='width:470px; height:400px')
                  #infowindow-content
                    img#place-icon(src='', width='16', height='16')
                    span#place-name.title
                    br
                    span#place-address
              .form-row
                .form-group.col-md-6
                  label(for='zipcode') Latitude
                  input#lat1.form-control(type='text', placeholder='Latitude',name='lat', style='100%', value=lat1)
                .form-group.col-md-6
                  label(for='zipcode') Longitude
                  input#lng1.form-control(type='text', placeholder='Longitude',name='lng',  style='100%', value=lat2)
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
            button.btn.btn-primary(onclick='save()') Save 
    script.
      $('.selectpicker').selectpicker({
        style: 'btn-info',
        size: 4
      });
      $(document).ready(function() {
        $("#state").change(function() {
          var state = $(this).val();
          $.ajax({
            url: "http://battuta.medunes.net/api/region/"+state+"/search/?region=&callback=?&key=eece3999b174ddb2ece72e58660a9ddb",
            dataType: 'json',
            success:function(response){
              var len = response.length;
              $("#region").empty();
              for( var i = 0; i<len; i++){
                var id = response[i]['region'];
                var name = response[i]['region'];
                $("#region").append("<option value='"+id+"'>"+name+"</option>");
              }
            }
          });
        });
        $("#region").change(function() {
          var region = $(this).val();
          var state1 = $('#state').val();
          console.log(region);
          $.ajax({
            url: "http://battuta.medunes.net/api/city/"+state1+"/search/?region="+region+"&city=&callback=?&key=eece3999b174ddb2ece72e58660a9ddb",
            dataType: 'json',
            success:function(response){
              console.log(response);
              var len = response.length;
              $("#city").empty();
              for( var i = 0; i<len; i++){
                var id = response[i]['region'];
                var name = response[i]['city'];
                $("#city").append("<option value='"+name+"'>"+name+"</option>");
              }
            }
          });
        });
        $("#geolocate").click(function() {
          var address = $('#line1').val()+', '+$('#line2').val()+', '+$('#city').val()+', '+$('#region').val()+', '+$('#state').val();
          address = address.split(' ').join('+');
          console.log(address);
          $.ajax({
            url: "https://maps.googleapis.com/maps/api/geocode/json?address=%22"+address+"%22&key=AIzaSyBPfa7eAe7vjoQFO5v_T2hgQmZ2LeQIPxY",
            dataType: 'json',
            success:function(response){
              document.getElementById("lat").value = response.results[0].geometry.location.lat;
              document.getElementById("lat1").value = response.results[0].geometry.location.lat;
              document.getElementById("lng").value = response.results[0].geometry.location.lng;
              document.getElementById("lng1").value = response.results[0].geometry.location.lng;
              console.log(response.results[0].geometry.location.lat)
            }
          });
        });
      });